<div id="game_container">
    <div id="counddown"></div>
    <div id="timecount"></div>
    <div id="board"></div>
</div>
<script>
    var user = "<%= user %>";
    var op_user = "<%= op_user %>";
</script>

