<h1><%= title %></h1>
<p>poo poo</p>
<div id="content">
    <div id="screen">
        <div id="baloon" style="width:30px;height:30px;background-color:#cc0000;"></div>
    </div>
</div>
<script>
    (function($){
        var tv = io.connect("/tv", { port: 3001 });
        var baloon = $("#baloon");

        tv.on('poo', function (pomp) {
            var a = pomp.count * 2;
            var w = baloon.width();
            var h = baloon.height();
            baloon.css( { width: w + a, height: h + a });
        });

    })(jQuery);

</script>
